
<!-- Create A Message -->
<!-- <section>

  <h4>Compose Message</h4>
  <form>
    <input placeholder="What's on your mind?"></input>
    <button>Submit</button>
  </form>

</section>

<section>
  <p>News Feed Goes Here</p>
  <p><strong>Drew:</strong> Looking Forward to summer!</p>
  <p><strong>Paul:</strong> It </p>
</section>

 -->

<div ng-controller="MessagesCtrl">
  <h1>Message: {{message}}</h1>
</div>
