
<div ng-controller="MessagesCtrl">
  <h1>Message: {{message}}</h1>

  <h4>Compose Message</h4>
  <form ng-submit="createMessage()">
    <input type="text" ng-model= "messageContents" placeholder="What's on your mind?"></input>
    <button type="submit"> Create Message </button>
  </form>

  <ul ng-repeat="message in messages">
    <li> {{message.content}} </li>
  </ul>
  <button ng-click="refresh()">Refresh</button>
</div>